<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>
      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon
          mat-list-icon
          class="chevron-button"
          [ngClass]="{ rotated: isExpanded }"
          >chevron_right
        </mat-icon>
      </mat-list-item>
      <mat-list-item [routerLink]="'dashboard'">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Strona główna</span>
      </mat-list-item>
      <span *ngIf="isLogin">
        <mat-list-item [routerLink]="'competitor'">
          <mat-icon mat-list-icon>people_outline</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Zawodnicy</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'group'">
          <mat-icon mat-list-icon>group</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Grupy</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'coach'">
          <mat-icon>work</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Tenerzy</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'exercise'">
          <mat-icon>sports_kabaddi</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Ćwiczenia</span>
        </mat-list-item>
        <mat-list-item
          class="justify-content-end"
          [routerLink]="'login'"
          (click)="logOut()"
        >
          <mat-icon mat-list-icon>logout</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Wyloguj</span>
        </mat-list-item>
      </span>
      <mat-list-item *ngIf="!isLogin" [routerLink]="'login'">
        <mat-icon mat-list-icon>login</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Login</span>
      </mat-list-item>
      <!-- <mat-list-item *ngIf="!isLogin" [routerLink]="'rejestracja'">
        <mat-icon mat-list-icon>login</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Rejestracja</span>
      </mat-list-item> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <h4>Klub Sportowy</h4>
    </mat-toolbar>
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
