<div class="width">
  <h1 mat-dialog-title class="d-flex justify-content-center">
    Wybierz zawodników
  </h1>
  <div
    *ngFor="let data of selectedCompetior"
    class="d-flex justify-content-center mb-1"
  >
    <mat-checkbox [checked]="data.selected" [(ngModel)]="data.selected">
      {{ data.firstName + " " + data.lastName }}
    </mat-checkbox>
  </div>
  <div class="row d-flex justify-content-center">
    <button
      mat-raised-button
      color="primary"
      class="col d-flex justify-content-center me-1"
      (click)="onSubmit()"
    >
      Dodaj
    </button>
    <button
      mat-raised-button
      color="primary"
      class="col d-flex justify-content-center ms-1"
      (click)="onBack()"
    >
      Wróć
    </button>
  </div>
</div>
